:root{
  --main-color:#bfb9e9;
  --dark-color: #a09bc4;
  --light-color: #ded7ff;
}

body {
  background-color:var(--main-color);
}

.neumorphism{
  width: 100px;
  height: 100px;
  border-radius: 137px;
  background: var(--main-color);
  box-shadow:  12px 12px 24px var(--dark-color),
             -12px -12px 24px var(--light-color);
            
}

.photos-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  width: 280px;
}

.photos-container img{
   width: 90px; 
   height: 90px;
   border-radius: 5px;
   object-fit: cover;
 }

h1{
  font-size: 100px;
} 